@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Pacifico&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --accent: hsl(76deg 100% 39%);
    --green: hsl(76deg 100% 39%);
    --blue: hsl(205deg 69% 49%);
    --purple: hsl(237deg 43% 60%);
    --background-2: hsl(192deg 100% 8%);
    --background: hsl(192deg 100% 5%);
    --foreground: hsl(46deg 42% 88%);
}

* {
    font-size: 1rem;
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    user-select: none;
    outline: none;
    color: var(--foreground);
}

html {
    padding: 0px;
    margin: 0px;
    height: auto;
    width: 100vw;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
}

.App {
    padding: 0px;
    margin: 0px;
    height: auto;
    width: 100vw;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    width: 100%;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

a {
    width: 100%;
    text-align: center;
    text-decoration: none;
}

h1 {
    font-size: 15vw;
    color: var(--accent);
    font-family: "Pacifico", cursive;
    width: auto;
    padding: 0px;
    margin: 0px;
    text-align: center;
    align-items: center;
    align-content: center;
}

h2 {
    font-size: 3rem;
    font-family: "Oswald", sans-serif;
    color: var(--foreground);
    width: 100%;
    text-decoration: none;
    text-align: center;
}

h3 {
    font-size: 1.2rem;
    font-family: "Oswald", sans-serif;
    color: var(--foreground);
    width: 100%;
    text-align: center;
}

.welcome {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    height: 100vh;
    min-height: 100vh;
    width: 100%;
    max-width: 100%;
}

.content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 0px;
    margin: 0px;
    height: auto;
    width: calc(100% - 100px);
    max-width: 800px;
    padding: 50px;
    background-color: var(--background);
    gap: 30px;
}

.project-card {
    width: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    background-color: var(--background-2);
    margin: 40px;
    border-radius: 15px;
    padding: 30px;
    font-weight: bolder;
    box-shadow: 0px 0px 32px var(--background);
    transition: all 0.6s ease-in-out;
    * {
        font-weight: bolder;
        transition: all 0.6s ease-in-out;
    }
}

.project-card:hover {
    background-color: var(--accent);
    * {
        color: var(--background);
    }
}

.project-card h3 {
    font-size: 3rem;
    line-height: 8rem;
    padding: 0px;
    margin: 0px;
    font-family: "Roboto Condensed", sans-serif;
}

.project-card p {
    font-size: 1rem;
    line-height: 2rem;
    letter-spacing: 1px;
    text-wrap: pretty;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 0px;
    margin: 0px;
    height: auto;
    width: calc(100% - 100px);
    max-width: 800px;
    padding: 50px;
}

.footer * {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: normal;
}

@media (max-width: 768px) {
    .project-card p {
        font-size: 0.8rem;
        line-height: 1.5rem;
    }

    .project-card h3 {
        font-size: 2rem;
        line-height: 4rem;
    }
}
